<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <!-- Adding style and script files as a static files -->
    <link rel="stylesheet" href="/CSS/style.css">
    <script src="/JS/script.js" defer></script>
</head>
<body>
    <a href="/">Home Page</a>
    <a href="/about">About Page</a>
    <hr />
    <h1>Home Page</h1>
    <p>This is Home page.</p>

    <!-- Adding image as a static file -->
    <img src="/Images/goku.jpg" width="800" height="400" alt="Goku">
</body>
</html>